In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('complete-collection-of-kaggle-datasets/Kaggle Datasets.csv')
df['last_updated'] = pd.to_datetime(df['last_updated'], 
                                    infer_datetime_format=True)

In [4]:
print(df.shape)
df.head(3)

(18518, 16)

,ref,title,subtitle,creator,description,version,keywords,last_updated,license_name,size,size(bytes),downloads,discussions,views,likes,kernels
0,mlg-ulb/creditcardfraud,Credit Card Fraud Detection,Anonymized credit card transactions labeled as...,Machine Learning Group - ULB,Context\n---------\n\nIt is important that cre...,3,"finance, machine learning, crime",2018-03-23 01:17:27,"Database: Open Database, Contents: Database Co...",66MB,69155632,131731,40,3052086,3323,2121
1,tmdb/tmdb-movie-metadata,TMDB 5000 Movie Dataset,"Metadata on ~5,000 movies from TMDb",The Movie Database (TMDb),### Background\nWhat can we say about the succ...,2,film,2017-09-28 01:09:12,Other (specified in description),9MB,9747156,92202,53,630515,1601,1462
2,hugomathien/soccer,European Soccer Database,"25k+ matches, players & teams attributes for E...",Hugo Mathien,The ultimate Soccer database for data analysis...,10,"europe, association football",2016-10-23 22:31:38,"Database: Open Database, Contents: © Original ...",34MB,36121187,80922,95,638231,1875,1458

In [5]:
# keywords is NOT separated
df['keywords'].value_counts().nsmallest(5)

economics, demographics, government, agriculture, communities    1
twitter, network analysis, networks                              1
image data, games and toys, role-playing games                   1
finance, economics, business, databases                          1
medicine, crowdfunding, oncology and cancer                      1
Name: keywords, dtype: int64

In [6]:
# keywords has TONS of NaNs
df['keywords'].isna().sum()

12841

### Expoloring Cardinality of Non-Numeric Variables

In [7]:
df.describe(exclude='number')

,ref,title,subtitle,creator,description,keywords,last_updated,license_name,size
count,18518,18518,8012,18515,18518,5677,18518,18518,18518
unique,18518,17681,6836,10034,17739,2944,18508,26,2231
top,michelegentili/stemming,Titanic,From New York State Open Data,State of New York,### Context\n\nThere's a story behind every da...,socrata,2019-02-14 20:22:27,Unknown,2MB
freq,1,48,230,230,113,637,4,8827,639
first,NaN,NaN,NaN,NaN,NaN,NaN,2016-04-26 22:33:46,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-06 16:18:15,NaN,NaN

In [8]:
df.describe()

,version,size(bytes),downloads,discussions,views,likes,kernels
count,18518.000000,1.851800e+04,18518.000000,18518.000000,1.851800e+04,18518.000000,18518.000000
mean,5.460471,4.204281e+09,394.869424,0.287882,3.083455e+03,9.816233,6.004752
std,23.842488,4.230264e+11,2673.503306,1.705490,2.792698e+04,62.888877,56.726649
min,1.000000,2.200000e+01,0.000000,0.000000,2.000000e+00,0.000000,0.000000
25%,1.000000,4.013425e+04,6.000000,0.000000,1.240000e+02,0.000000,1.000000
50%,1.000000,1.101386e+06,21.000000,0.000000,3.270000e+02,0.000000,1.000000
75%,1.000000,4.472701e+07,98.000000,0.000000,9.720000e+02,3.000000,2.000000
max,370.000000,5.736049e+13,131731.000000,95.000000,3.052086e+06,3323.000000,3810.000000

In [9]:
def checkCardinality(df):
    columns = df.describe(exclude='number').columns
    for col in columns:
        print(f"COLUMN: {col}")
        print(f"nUnique: {df[col].nunique()}")
        print(f"Perc Uniq: {df[col].nunique() / df.shape[0]}")
        print("TOP 5")
        print(df[col].value_counts().nlargest(5))
        print('\n')

In [10]:
checkCardinality(df.drop('description', axis=1))

COLUMN: ref
nUnique: 18518
Perc Uniq: 1.0
TOP 5
michelegentili/stemming                           1
franckjay/overwatch2018pro                        1
anplaud/tennis                                    1
abhiyush/datasets-cats-dogs-classification        1
srinivas1/agricuture-crops-production-in-india    1
Name: ref, dtype: int64


COLUMN: title
nUnique: 17681
Perc Uniq: 0.9548007344205638
TOP 5
Titanic      48
dataset      38
titanic      18
train.csv    15
images       15
Name: title, dtype: int64


COLUMN: subtitle
nUnique: 6836
Perc Uniq: 0.369154336321417
TOP 5
From New York State Open Data     230
From New York City Open Data      175
From San Francisco Open Data       98
From City of Chicago Open Data     82
From City of Seattle Open Data     79
Name: subtitle, dtype: int64


COLUMN: creator
nUnique: 10034
Perc Uniq: 0.5418511718328113
TOP 5
State of New York        230
City of New York         191
City of San Francisco     98
mrkmakr                   96
Rachael Tatman            93
Name: creator, dtype: int64


COLUMN: keywords
nUnique: 2944
Perc Uniq: 0.15898045145264067
TOP 5
socrata       637
finance        75
image data     63
internet       60
economics      54
Name: keywords, dtype: int64


COLUMN: last_updated
nUnique: 18508
Perc Uniq: 0.9994599848795767
TOP 5
2019-02-14 20:22:27    4
2019-05-17 14:07:25    2
2017-11-30 20:22:06    2
2019-05-09 13:01:59    2
2019-07-01 04:00:38    2
Name: last_updated, dtype: int64


COLUMN: license_name
nUnique: 26
Perc Uniq: 0.0014040393131007668
TOP 5
Unknown                                                 8827
CC0: Public Domain                                      5200
Other (specified in description)                        1391
Data files © Original Authors                            880
Database: Open Database, Contents: Database Contents     536
Name: license_name, dtype: int64


COLUMN: size
nUnique: 2231
Perc Uniq: 0.12047737336645425
TOP 5
2MB    639
1MB    530
2GB    419
2KB    389
3MB    387
Name: size, dtype: int64

In [11]:
df['creator'].value_counts().nlargest(15)

State of New York                               230
City of New York                                191
City of San Francisco                            98
mrkmakr                                          96
Rachael Tatman                                   93
pramod                                           92
NLTK Data                                        90
City of Chicago                                  87
FiveThirtyEight                                  85
City of Los Angeles                              83
City of Seattle                                  78
Centers for Medicare &amp; Medicaid Services     62
US Census Bureau                                 55
Kevin Mader                                      55
World Bank                                       55
Name: creator, dtype: int64

In [12]:
df['subtitle'].value_counts().nlargest(15)

From New York State Open Data                             230
From New York City Open Data                              175
From San Francisco Open Data                               98
From City of Chicago Open Data                             82
From City of Seattle Open Data                             79
From Los Angeles Open Data                                 78
Explore Data from FiveThirtyEight                          78
Explore open data from the CMS                             55
Explore open data from the city of Oakland                 49
Explore Time Series from the U.S. Census Bureau            46
Explore Open Data from the Centers for Disease Control     40
Explore EU Data from the Joint Research Centre             40
From World Bank Open Data                                  23
From World Bank Financial Open Data                        23
Explore EU Data from EU Parliament                         15
Name: subtitle, dtype: int64

In [13]:
df['keywords'].value_counts().nlargest(15)

socrata        637
finance         75
image data      63
internet        60
economics       54
linguistics     46
europe          46
crime           42
politics        41
nlp             41
video games     39
sports          37
business        32
world           31
healthcare      29
Name: keywords, dtype: int64

In [14]:
df['license_name'].value_counts().nlargest(15)

Unknown                                                  8827
CC0: Public Domain                                       5200
Other (specified in description)                         1391
Data files © Original Authors                             880
Database: Open Database, Contents: Database Contents      536
CC BY-NC-SA 4.0                                           467
CC BY-SA 4.0                                              334
GPL 2                                                     290
Database: Open Database, Contents: © Original Authors     289
CC BY-SA 3.0                                              104
World Bank Dataset Terms of Use                            91
Reddit API Terms                                           27
U.S. Government Works                                      24
Attribution 4.0 International (CC BY 4.0)                  24
GNU Lesser General Public License 3.0                       5
Name: license_name, dtype: int64

In [15]:
# Phrases from top scoring description value_counts..
# largest value count is 113 5th larest is 10 after that i

phrase1 = 'This is a dataset hosted by'
kagDefaultDes = "There's a story behind every dataset and here's your opportunity to share yours."
kagDefaultDes2 = "Your data will be in front of the world's largest data science community. What questions do you want to see answered?"

### Data Cleaning

In [16]:
def lowstrip(series):
    series = series.str.lower()
    series = series.str.strip()
    return series

In [17]:
# TODOOOOOO

desDum = pd.DataFrame()

desDum['description_len'] = df['description'].str.len()
desDum['kag_deflt_des'] = df['description'].str.contains(pat=(kagDefaultDes or kagDefaultDes2), 
                                                              case=False)
print(desDum.shape)
desDum.head()

(18518, 2)

   description_len  kag_deflt_des
0             5060          False
1             5184          False
2             3918          False
3              909          False
4             2007          False

In [18]:
# 'subtitle'
df['subtitle'] = lowstrip(df['subtitle'])

#df['subtitle'].str.contains('open data')
#df['subtitle'].str.contains('explore')
#df['subtitle'].str.contains('http')
#df['subtitle'].str.contains('.com')
#df['subtitle'].str.len()
#df['subtitle'].isna()

sbtDum = pd.DataFrame()
sbtDum['sbt_cont_openData'] = df['subtitle'].str.contains('open data')
sbtDum['sbt_cont_explore'] = df['subtitle'].str.contains('explore')
sbtDum['sbt_cont_http'] = df['subtitle'].str.contains('http')
sbtDum['sbt_cont_.com'] = df['subtitle'].str.contains('.com')
sbtDum['len_subtitl'] = df['subtitle'].str.len()
sbtDum['no_subtitl'] = df['subtitle'].isna()
sbtDum['len_subtitl'] = sbtDum['len_subtitl'].fillna(0)
sbtDum = sbtDum.fillna('False')


print(sbtDum.shape)
sbtDum.head()

(18518, 6)

,sbt_cont_openData,sbt_cont_explore,sbt_cont_http,sbt_cont_.com,len_subtitl,no_subtitl
0,False,False,False,False,68.0,False
1,False,False,False,False,35.0,False
2,False,False,False,False,75.0,False
3,False,False,False,False,73.0,False
4,False,False,False,False,72.0,False

In [19]:
# creator

crDum = pd.DataFrame()
crDum['creator_State'] = df['creator'].str.contains('state', case=False)
crDum['creator_City'] = df['creator'].str.contains('city', case=False)
crDum['creator_mrkmakr'] = df['creator'] == 'mrkmakr'
crDum['creator_RachaelTatman'] = df['creator'] == 'Rachael Tatman'
crDum['creator_NLTK'] = df['creator'] == 'NLTK Data'
crDum['creator_538'] = df['creator'] == 'FiveThirtyEight'
crDum['creator_Centers'] = df['creator'].str.contains('centers', case=False)
crDum = crDum.fillna('False')

print(crDum.shape)
crDum.head()

(18518, 7)

,creator_State,creator_City,creator_mrkmakr,creator_RachaelTatman,creator_NLTK,creator_538,creator_Centers
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False

In [20]:
# keywords
df['keywords'] = lowstrip(df['keywords'])
kw_separated = df['keywords'].str.split(', ', expand=True)
kw_separated = kw_separated.stack().dropna()

common_kw = kw_separated.value_counts().nlargest(50).index
common_kw

Index(['socrata', 'internet', 'image data', 'finance', 'linguistics',
       'business', 'economics', 'demographics', 'politics', 'nlp',
       'classification', 'sports', 'healthcare', 'text data', 'crime', 'world',
       'languages', 'deep learning', 'data visualization', 'time series',
       'machine learning', 'video games', 'education', 'health',
       'food and drink', 'multiclass classification', 'image processing',
       'united states', 'europe', 'india', 'government', 'geography',
       'twitter', 'beginner', 'pre-trained model', 'music', 'weather',
       'utility', 'text mining', 'brazil', 'cities', 'medicine', 'history',
       'countries', 'artificial intelligence', 'public health',
       'association football', 'regression analysis', 'environment', 'law'],
      dtype='object')

In [21]:
kwDum = pd.DataFrame()

for kw in common_kw:
    kwDum[kw] = df['keywords'].str.contains(kw)

kwDum['no_keywords'] = df['keywords'].isna()

kwDum = kwDum.fillna('False')

print(kwDum.shape)
kwDum.head()

(18518, 51)

,socrata,internet,image data,finance,linguistics,business,economics,demographics,politics,nlp,...,medicine,history,countries,artificial intelligence,public health,association football,regression analysis,environment,law,no_keywords
0,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [22]:
# license_name
# I can One-Hot Encode These
assert df['license_name'].nunique() == 26

In [23]:
# size

df['size'].value_counts().nlargest(15)
sizeDum = pd.DataFrame()
sizeDum['size_MB'] = df['size'].str.contains('MB')
sizeDum['size_GB'] = df['size'].str.contains('GB')
sizeDum['size_KB'] = df['size'].str.contains('KB')

print(sizeDum.size)
sizeDum.head()

55554

   size_MB  size_GB  size_KB
0     True    False    False
1     True    False    False
2     True    False    False
3     True    False    False
4     True    False    False

### Assemble Final Dataframe

In [24]:
allUnique = ['ref', 'description', 'title']
highCardinality = ['subtitle', 'creator', 'keywords', 'size']
dummyCols = [sizeDum, kwDum, crDum, sbtDum, desDum]

In [25]:
df.head(2)

,ref,title,subtitle,creator,description,version,keywords,last_updated,license_name,size,size(bytes),downloads,discussions,views,likes,kernels
0,mlg-ulb/creditcardfraud,Credit Card Fraud Detection,anonymized credit card transactions labeled as...,Machine Learning Group - ULB,Context\n---------\n\nIt is important that cre...,3,"finance, machine learning, crime",2018-03-23 01:17:27,"Database: Open Database, Contents: Database Co...",66MB,69155632,131731,40,3052086,3323,2121
1,tmdb/tmdb-movie-metadata,TMDB 5000 Movie Dataset,"metadata on ~5,000 movies from tmdb",The Movie Database (TMDb),### Background\nWhat can we say about the succ...,2,film,2017-09-28 01:09:12,Other (specified in description),9MB,9747156,92202,53,630515,1601,1462

In [26]:
dfReg = df
dfReg = dfReg.drop(allUnique, axis=1)
dfReg = dfReg.drop('last_updated', axis=1)
dfReg = dfReg.drop(highCardinality, axis=1)

In [27]:
dummyDf = pd.concat(dummyCols, axis=1)

# Checks Before Concat
assert dummyDf.isna().sum().sum() == 0
assert dfReg.isna().sum().sum() == 0
assert dummyDf.shape[0] == dfReg.shape[0]

In [28]:
dfReg = pd.concat([dfReg, dummyDf], axis=1)

In [29]:
print(dfReg.shape)
dfReg.head(3)

(18518, 77)

,version,license_name,size(bytes),downloads,discussions,views,likes,kernels,size_MB,size_GB,...,creator_538,creator_Centers,sbt_cont_openData,sbt_cont_explore,sbt_cont_http,sbt_cont_.com,len_subtitl,no_subtitl,description_len,kag_deflt_des
0,3,"Database: Open Database, Contents: Database Co...",69155632,131731,40,3052086,3323,2121,True,False,...,False,False,False,False,False,False,68.0,False,5060,False
1,2,Other (specified in description),9747156,92202,53,630515,1601,1462,True,False,...,False,False,False,False,False,False,35.0,False,5184,False
2,10,"Database: Open Database, Contents: © Original ...",36121187,80922,95,638231,1875,1458,True,False,...,False,False,False,False,False,False,75.0,False,3918,False

### Fix Date Column

In [30]:
mostUpdated = df['last_updated'].max()

In [31]:
delta = mostUpdated - df['last_updated']
dfReg['days_since_updated'] = delta.dt.days

## Project Starts

In [32]:
# Establish Target

target = 'downloads'
possible_targets = ['discussions', 'views', 'likes', 'kernels']

dfDnld = dfReg
dfDnld = dfDnld.drop(possible_targets, axis=1)

dfLen = len(dfDnld[target])

In [33]:
print(f"Total NaNs: {dfDnld.isna().sum().sum()}")
print(f"Shape: {dfDnld.shape}")
dfDnld.head(2)

Total NaNs: 0
Shape: (18518, 74)

,version,license_name,size(bytes),downloads,size_MB,size_GB,size_KB,socrata,internet,image data,...,creator_Centers,sbt_cont_openData,sbt_cont_explore,sbt_cont_http,sbt_cont_.com,len_subtitl,no_subtitl,description_len,kag_deflt_des,days_since_updated
0,3,"Database: Open Database, Contents: Database Co...",69155632,131731,True,False,False,False,False,False,...,False,False,False,False,False,68.0,False,5060,False,470
1,2,Other (specified in description),9747156,92202,True,False,False,False,False,False,...,False,False,False,False,False,35.0,False,5184,False,646

In [34]:
dfDnld.to_csv('kagDataSets.csv')

## Baseline

In [35]:
# Baseline Metric

targetMean = dfDnld[target].mean()
basePred = [targetMean] * dfLen
targetMean

394.86942434388163

In [36]:
from sklearn.metrics import mean_absolute_error
baseMAE = mean_absolute_error(dfDnld[target], basePred)
baseMAE

615.7832924629158

### Train-Val-Test Split

In [37]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
                                    dfDnld.drop(columns=target),
                                    dfDnld[target],
                                    test_size=0.18,
                                    random_state=42
                                    )

In [38]:
#X_train, X_val, y_train, y_val = train_test_split(
                                    #X_train,
                                    #y_train,
                                    ##test_size=0.18,
                                    #random_state=42
                                    #)

In [39]:
assert len(X_train) + len(X_test) == len(df['downloads'])

In [40]:
import category_encoders as ce
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor

ModuleNotFoundError: No module named 'category_encoders'

In [ ]:
pipeline = make_pipeline(
    ce.OneHotEncoder(),
    StandardScaler(),
    RandomForestRegressor(n_estimators=20, n_jobs=9, random_state=42)
)

In [ ]:
k = 3
scores = cross_val_score(pipeline, X_train, y_train, cv=k,
                        scoring='neg_mean_absolute_error')

print(f"MAE for {k} folds", -scores)