In [52]:
import pandas as pd
import WrangFunct as wf
import CSV

ModuleNotFoundError: No module named 'CSVs'

In [50]:
def check(df):
    
    print(f"Shape: {df.shape}")
    
    if wf.getSevTN(df).shape[0] == 0:
        print("NO [Sevierville, TN]")
    if wf.getSevTN(df).shape[0] > 0:
        print("YES [Sevierville, TN]")
    
    print(f"PercNull: {df.isna().sum().sum()/df.size}")
    
    print(f"{df.columns[2]} to {df.columns[-1]}")

### Metro_MedianRentalPrice_AllHomes.csv

In [4]:
df0 = pd.read_csv('Metro_MedianRentalPrice_AllHomes.csv', encoding = "ISO-8859-1")
print(df0.shape)
df0.head()

(423, 122)

,RegionName,SizeRank,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,United States,0,NaN,NaN,1500.0,1550.0,1500.0,1600.0,1500.0,1500.0,...,1675.0,1700.0,1725.0,1750.0,1745.0,1700.0,1700.0,1650.0,1650.0,1650.0
1,"New York, NY",1,2075.0,2000.0,2300.0,2500.0,2400.0,2695.0,2500.0,2350.0,...,2995.0,3175.0,3000.0,3000.0,2950.0,3000.0,2987.5,2800.0,2800.0,2950.0
2,"Los Angeles-Long Beach-Anaheim, CA",2,2175.0,2495.0,2400.0,2475.0,2500.0,2500.0,2700.0,2800.0,...,3200.0,3200.0,3200.0,3200.0,3200.0,3200.0,3200.0,3200.0,3200.0,3200.0
3,"Chicago, IL",3,NaN,1550.0,1500.0,1500.0,1500.0,1500.0,1550.0,1550.0,...,1695.0,1700.0,1700.0,1729.0,1745.0,1750.0,1735.0,1700.0,1695.0,1695.0
4,"Dallas-Fort Worth, TX",4,NaN,1250.0,1300.0,1400.0,1350.0,1350.0,1350.0,1350.0,...,1700.0,1745.0,1775.0,1750.0,1767.5,1750.0,1750.0,1725.0,1725.0,1700.0

In [26]:
wf.getSevTN(df0)

Empty DataFrame
Columns: [RegionName, SizeRank, 2010-01, 2010-02, 2010-03, 2010-04, 2010-05, 2010-06, 2010-07, 2010-08, 2010-09, 2010-10, 2010-11, 2010-12, 2011-01, 2011-02, 2011-03, 2011-04, 2011-05, 2011-06, 2011-07, 2011-08, 2011-09, 2011-10, 2011-11, 2011-12, 2012-01, 2012-02, 2012-03, 2012-04, 2012-05, 2012-06, 2012-07, 2012-08, 2012-09, 2012-10, 2012-11, 2012-12, 2013-01, 2013-02, 2013-03, 2013-04, 2013-05, 2013-06, 2013-07, 2013-08, 2013-09, 2013-10, 2013-11, 2013-12, 2014-01, 2014-02, 2014-03, 2014-04, 2014-05, 2014-06, 2014-07, 2014-08, 2014-09, 2014-10, 2014-11, 2014-12, 2015-01, 2015-02, 2015-03, 2015-04, 2015-05, 2015-06, 2015-07, 2015-08, 2015-09, 2015-10, 2015-11, 2015-12, 2016-01, 2016-02, 2016-03, 2016-04, 2016-05, 2016-06, 2016-07, 2016-08, 2016-09, 2016-10, 2016-11, 2016-12, 2017-01, 2017-02, 2017-03, 2017-04, 2017-05, 2017-06, 2017-07, 2017-08, 2017-09, 2017-10, 2017-11, 2017-12, 2018-01, 2018-02, ...]
Index: []

[0 rows x 122 columns]

In [16]:
df0.isna().sum().sum()/df0.size

0.42272216408944696

### Metro_Zhvi_AllHomes.csv

In [6]:
df1 = pd.read_csv('Metro_Zhvi_AllHomes.csv', encoding = "ISO-8859-1")
print(df1.shape)
df1.head()

(913, 288)

,RegionID,RegionName,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,102001,United States,0,106417.0,106445.0,106534.0,106663.0,106878.0,107139.0,107447.0,...,238216,239118,239921,240592,241097,241517,241985,242567,243231,244054
1,394913,"New York, NY",1,186819.0,186359.0,185830.0,185414.0,185183.0,185199.0,185391.0,...,478348,479906,481170,481660,481522,480845,479932,478992,478365,478643
2,753899,"Los Angeles-Long Beach-Anaheim, CA",2,184550.0,183952.0,183553.0,183433.0,183506.0,183580.0,183503.0,...,657371,657556,658248,659531,657732,657063,658171,662373,665415,669028
3,394463,"Chicago, IL",3,158838.0,158649.0,158968.0,159046.0,159379.0,159962.0,160704.0,...,238060,238996,239479,239495,239238,238849,238454,238165,237971,238050
4,394514,"Dallas-Fort Worth, TX",4,111468.0,111609.0,111718.0,111838.0,112117.0,112484.0,112933.0,...,248681,248994,249360,249555,249746,250151,251017,251296,251576,251455

In [7]:
wf.getSevTN(df1)

,RegionID,RegionName,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
408,395086,"Sevierville, TN",408,98453.0,99555.0,100422.0,101292.0,101741.0,102404.0,103160.0,...,209978,211366,212718,214067,216064,218128,220368,222313,224170,226179

In [13]:
df1.isna().sum().sum()/df1.size

0.19059571619812585

### Metro_MedianRentalPrice_Sfr.csv

In [17]:
df2 = pd.read_csv('Metro_MedianRentalPrice_Sfr.csv', encoding = "ISO-8859-1")
print(df2.shape)

(405, 122)

In [18]:
wf.getSevTN(df2)

Empty DataFrame
Columns: [RegionName, SizeRank, 2010-01, 2010-02, 2010-03, 2010-04, 2010-05, 2010-06, 2010-07, 2010-08, 2010-09, 2010-10, 2010-11, 2010-12, 2011-01, 2011-02, 2011-03, 2011-04, 2011-05, 2011-06, 2011-07, 2011-08, 2011-09, 2011-10, 2011-11, 2011-12, 2012-01, 2012-02, 2012-03, 2012-04, 2012-05, 2012-06, 2012-07, 2012-08, 2012-09, 2012-10, 2012-11, 2012-12, 2013-01, 2013-02, 2013-03, 2013-04, 2013-05, 2013-06, 2013-07, 2013-08, 2013-09, 2013-10, 2013-11, 2013-12, 2014-01, 2014-02, 2014-03, 2014-04, 2014-05, 2014-06, 2014-07, 2014-08, 2014-09, 2014-10, 2014-11, 2014-12, 2015-01, 2015-02, 2015-03, 2015-04, 2015-05, 2015-06, 2015-07, 2015-08, 2015-09, 2015-10, 2015-11, 2015-12, 2016-01, 2016-02, 2016-03, 2016-04, 2016-05, 2016-06, 2016-07, 2016-08, 2016-09, 2016-10, 2016-11, 2016-12, 2017-01, 2017-02, 2017-03, 2017-04, 2017-05, 2017-06, 2017-07, 2017-08, 2017-09, 2017-10, 2017-11, 2017-12, 2018-01, 2018-02, ...]
Index: []

[0 rows x 122 columns]

In [20]:
df2.isna().sum().sum()/df2.size

0.4084800647642178

### Metro_MedianRentalPricePerSqft_AllHomes.csv

In [21]:
df3 = pd.read_csv('Metro_MedianRentalPricePerSqft_AllHomes.csv', encoding = "ISO-8859-1")
print(df3.shape)

(403, 122)

In [22]:
wf.getSevTN(df3)

Empty DataFrame
Columns: [RegionName, SizeRank, 2010-01, 2010-02, 2010-03, 2010-04, 2010-05, 2010-06, 2010-07, 2010-08, 2010-09, 2010-10, 2010-11, 2010-12, 2011-01, 2011-02, 2011-03, 2011-04, 2011-05, 2011-06, 2011-07, 2011-08, 2011-09, 2011-10, 2011-11, 2011-12, 2012-01, 2012-02, 2012-03, 2012-04, 2012-05, 2012-06, 2012-07, 2012-08, 2012-09, 2012-10, 2012-11, 2012-12, 2013-01, 2013-02, 2013-03, 2013-04, 2013-05, 2013-06, 2013-07, 2013-08, 2013-09, 2013-10, 2013-11, 2013-12, 2014-01, 2014-02, 2014-03, 2014-04, 2014-05, 2014-06, 2014-07, 2014-08, 2014-09, 2014-10, 2014-11, 2014-12, 2015-01, 2015-02, 2015-03, 2015-04, 2015-05, 2015-06, 2015-07, 2015-08, 2015-09, 2015-10, 2015-11, 2015-12, 2016-01, 2016-02, 2016-03, 2016-04, 2016-05, 2016-06, 2016-07, 2016-08, 2016-09, 2016-10, 2016-11, 2016-12, 2017-01, 2017-02, 2017-03, 2017-04, 2017-05, 2017-06, 2017-07, 2017-08, 2017-09, 2017-10, 2017-11, 2017-12, 2018-01, 2018-02, ...]
Index: []

[0 rows x 122 columns]

In [23]:
df3.isna().sum().sum()/df3.size

0.3588048651507139

In [51]:
check(df3)

Shape: (403, 122)
NO [Sevierville, TN]
PercNull: 0.3588048651507139
2010-01 to 2019-12