In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('zillow_data.csv')

In [6]:
print(df.shape)
df.head(2)

(932, 113)

,RegionID,RegionName,SizeRank,ZHVI_All_96,ZHVI_All_97,ZHVI_All_98,ZHVI_All_99,ZHVI_All_00,ZHVI_All_01,ZHVI_All_02,...,SaleCut_18,SaleCut_19,SalePrice_13,SalePrice_14,SalePrice_15,SalePrice_16,SalePrice_17,SalePrice_18,SalePrice_19,State
0,102001,United States,0.0,107038.777778,109827.833333,114622.833333,120723.750000,128912.250000,138267.416667,147711.166667,...,1.591110e+06,1.549866e+06,1.957117e+06,1.972348e+06,1.895745e+06,1.797109e+06,1.641074e+06,1.591110e+06,1.549866e+06,NaN
1,394913,"New York, NY",1.0,185804.555556,189814.666667,197705.583333,212424.083333,237131.916667,266243.916667,299799.916667,...,8.576108e+04,8.691933e+04,1.116268e+05,1.079741e+05,1.083282e+05,1.011301e+05,8.680992e+04,8.576108e+04,8.691933e+04,NY

In [4]:
df.columns

Index(['RegionID', 'RegionName', 'SizeRank', 'ZHVI_All_96', 'ZHVI_All_97',
       'ZHVI_All_98', 'ZHVI_All_99', 'ZHVI_All_00', 'ZHVI_All_01',
       'ZHVI_All_02',
       ...
       'SaleCut_18', 'SaleCut_19', 'SalePrice_13', 'SalePrice_14',
       'SalePrice_15', 'SalePrice_16', 'SalePrice_17', 'SalePrice_18',
       'SalePrice_19', 'State'],
      dtype='object', length=113)